@import url(reset.css);
@import url(styles/header.css);

:root {
    --background-color: #EBECEE;
    --white: #FFFFFF;
    --orange: #EB9B00;
    --gradient-blue: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --main-font: "Poppins", sans-serif;
}

body {
    background-color: var(--background-color);
    font: var(--main-font);
    font-size: 1rem;
    font-weight: 400;
}